{% trans_default_domain 'FOSUserBundle' %}


<h2>个人信息</h2>
<table class="personal_info_show_tab">
    <tr>
        <th>属性</th>
        <th>属性值</th>
    </tr>
    <tr>
        <td>{{ '姓名'|trans }}</td>
        <td>{{ user.name }}</td>
    </tr>
    <tr>
        <td>{{ '邮箱'|trans }}</td>
        <td>{{ user.email }}</td>
    </tr>
    <tr>
        <td>{{ '性别'|trans }}</td>
        <td>{{ user.gender }}</td>
    </tr>
    <tr>
        <td>{{ '电话'|trans }}</td>
        <td>{{ user.phone }}</td>
    </tr>
    <tr>
        <td>{{ '学校'|trans }}</td>
        <td>{{ user. company }}</td>
    </tr>
    <tr>
        <td>{{ '职称'|trans }}</td>
        <td>{{ user.position }}</td>
    </tr>
    <tr>
        <td>{{ '单位'|trans }}</td>
        <td>{{ user.address }}</td>
    </tr>

</table>
