{% extends "::base.html.twig" %}

{% block title %}{{ site_name }}{% endblock %}

{% block stylesheets %}
    {% stylesheets 
        '@AcmeDemoBundle/Resources/public/css/lib/jquery-ui.min.css' 
        '@AcmeDemoBundle/Resources/public/css/lib/bootstrap.min.css' 
        '@AcmeDemoBundle/Resources/public/css/lib/bootstrap-theme.min.css' 
        '@AcmeDemoBundle/Resources/public/css/lib/font-awesome.min.css' 
        '@AcmeDemoBundle/Resources/public/css/lib/button.min.css' 
        '@AcmeDemoBundle/Resources/public/css/home.css' 
        '@AcmeDemoBundle/Resources/public/css/admin.css' 

        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% image '@AcmeDemoBundle/Resources/public/images/ustc.ico' %}
        <link rel="icon" href="{{ asset_url }}" type="image/x-icon" />
    {% endimage %}
        
    {% block stylesheets_child %}{% endblock %}
{% endblock %}

{% block body %}
    <div id="main">
        <div id="header">
            <div class="center_content">
            {% block header %}
                <img class='logo' src="/registration/logo.png"/>
                <div class="user_info">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <span>您好，{{app.user.getName()}}</span>
                        <a href="{{ path('fos_user_security_logout') }}" 
                           class="button button-rounded button-flat2">退出账户</a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}" 
                           class="button button-rounded button-flat1">登 录</a>
                    {% endif %}
                </div>
                <nav>
                    <ul>
                        {% block navigation_more %}
                            <li><a  href="{{ path('acme_demo_homepage') }}">首页</a></li>
                            <li><a  href="{{ path('_notice') }}">报名</a></li>
                            <li><a   href="{{ path('_sign_show') }}"> 个人中心</a></li>
                            {% block navigation_more_add %}
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <li><a 
                                            href="{{ path('_new_conference') }}">后台管理</a></li>
                                    {% endif %}
                                {% endif %}
                            {% endblock %}
                            <li><a    href="{{ path('acme_demo_connact_us') }}">联系我们</a></li>
                        {% endblock %}
                    </ul>     
                </nav>
            {% endblock %}
            </div>
        </div>
        <div id="middle">
            {% block left_navigation %}            
            <div class=admin_left>
                <div class="pd_side_bar">
                    <ul>
                        <li id="pd_menu_1" >
                            <a href="{{ path('_notice') }}">注册会议</a></li>
                         <li id="pd_menu_2" >
                            <a href="{{ path('_schedule') }}">日程安排</a></li>
                        {% block left_navigation_more_add %}
                        {% endblock %}
                    </ul>
                </div>
            </div>
            {% endblock  %}           
             {% block content %}        
            <div class="admin_right">
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="flash-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% block fos_user_content %}
                {% endblock fos_user_content %}
            </div>             
            {% endblock %}
        </div>

        <div id="footer">
            {% block footer %}
            
                <p>版权所有&nbsp;©&nbsp; 中国科学技术大学教务处   现代教育技术中心</p > 
             
            {% endblock %}
        </div>
    </div>
        
  
{% endblock %}

{% block javascripts %}
    {% javascripts 
        '@AcmeDemoBundle/Resources/public/js/lib/jquery-1.9.0.min.js'
        '@AcmeDemoBundle/Resources/public/js/lib/bootstrap.js'
        '@AcmeDemoBundle/Resources/public/js/lib/jquery-ui.min.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% block javascripts_child %}{% endblock %}
{% endblock %}