{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <h2>个人信息</h2>
    <div class='profile_item'>
        <label>{{ '姓名'|trans }}</label>
        <span>{{ user.name }}</span>
    </div>
    <div class='profile_item'>
        <label>{{ '邮箱'|trans }}</label>
        <span>{{ user.email }}</span>
    </div>
    <div class='profile_item'>
        <label>{{ '性别'|trans }}</label>
        <span>{{ user.gender }}</span>
    </div>
    <div class='profile_item'>
        <label>{{ '电话'|trans }}</label>
        <span>{{ user.phone }}</span>
    </div>
    <div class='profile_item'>
        <label>{{ '单位'|trans }}</label>
        <span>{{ user. company }}</span>
    </div>
    <div class='profile_item'>
        <label>{{ '职务'|trans }}</label>
        <span>{{ user.position }}</span>
    </div>
    <div class='profile_item'>
        <label>{{ '地址'|trans }}</label>
        <span>{{ user.address }}</span>
    </div>

</div>
