
{% extends "AcmeDemoBundle::layout.html.twig" %}

{% set target = 'handle' %}

{% block title %}管理员主页{% endblock %}

{% block stylesheets_child %}
    
{% endblock %}

{% block content %}
    <div class="content">
        <br>
        <pre>
        <center><b>新建会议</b></center>
    <form action="{{ path('_new_conference') }}" method="POST">
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="submit" />
        </div>
    </form>    
    {%for conf in conferences%}
        {{conf.getId}} -- {{conf.conferenceName}} -- {{conf.detail}}  <a href="/admin/delete/{{conf.getId}}">删除</a><br>
    {%endfor%}
        {% image '@AcmeDemoBundle/Resources/public/images/liantu.png' %}
        <img class="liantu" src="{{ asset_url }}" alt="LOGO"/>
        {% endimage %}
        </pre>
    </div>
{% endblock %}