
{% extends "AcmeDemoBundle::layout.html.twig" %}

{% set target = 'handle' %}

{% block title %}管理员主页{% endblock %}

{% block stylesheets_child %}
    
{% endblock %}

{% block content %}
 <div class="admin_right">
    <div class="content">
        <br>
       
        <center><b>修改会议</b></center>
    <form action="{{ path('_modify_conference') }}" method="POST">
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="submit" />
        </div>
    </form>    
<!-- 加载编辑器的容器 -->
    <script id="container" name="content" type="text/plain">
       
    </script>
   
    {%for conf in conferences%}
        {{conf.getId}} -- {{conf.conferenceName}} --  <a href="/registration/admin/delete/{{conf.getId}}">删除会议</a>    <a href="/registration/admin/down/{{conf.getId}}">下载报名表</a>  <a href="/registration/admin/modify/{{conf.getId}}">修改会议</a>       <a href=" /registration/admin/sethome/{{conf.getId}}">设为主页信息</a><br>
    {%endfor%}
       
    </div>
</div>
{% endblock %}


    
{% block javascripts_child %}
    {% javascripts 
        '@AcmeDemoBundle/Resources/public/js/ueditor/ueditor.config.js'
        '@AcmeDemoBundle/Resources/public/js/ueditor/ueditor.all.js'%}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
    <script type="text/javascript">
        UE.getEditor("form_detail", {
           autoHeightEnabled: true,
           autoFloatEnabled: true,

        });
        UE.getEditor("form_schedule", {
           autoHeightEnabled: true,
           autoFloatEnabled: true,

        });
    </script>

{% endblock %}