{% extends "AcmeDemoBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% set left_target = 'login' %}
{% set target = 'login' %}

{% block stylesheets_child %}
    {% stylesheets 
        '@AcmeDemoBundle/Resources/public/css/login.css' 
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block title %}登录{% endblock %}

{% block fos_user_content %}
<div class="wrap"> 
    <form action="{{ path("fos_user_security_check") }}" method="post"> 
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <section class="loginForm"> 
            <header> 
                <h1>登录</h1> 
            </header> 
            <div class="loginForm_content"> 
                <fieldset> 
                    <table>
                    <tr>
                    <td> 用户名：</td>
                    <td>
                        <div class="inputWrap">
                                <input type="text" id="username" name="_username" 
                                       value="{{ last_username }}" required="required"
                                       placeholder="请输入用户名或邮箱" autocomplete="off"/>
                        </div> 
                    </td>
                    </tr>
                    <tr>
                    <td>密&nbsp;&nbsp;码：</td>
                    <td>
                        <div class="inputWrap"> 
                            <input type="password" id="password" name="_password" 
                                   required placeholder="请输入密码" autocomplete="off"/>
                        </div>
                    </td>
                    </tr>
                    </table>
                </fieldset> 
                <fieldset> 
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                    <label for="remember_me">自动登录？</label>
                    {% if error %}
                        <span class="error_tip">{{ error|trans({}, 'FOSUserBundle') }}</span>
                    {% endif %}
                </fieldset> 
                <fieldset class="fieldset_submit"> 
                    <input type="submit" id="_submit" name="_submit" value="登录" />
                    <a href="{{ path("fos_user_resetting_request") }}">忘记密码？</a>
                    <p class="tip">提示：如遇到登录问题请联系现代教育技术中心</p>
                </fieldset>
            </div> 
        </section> 
    </form> 
</div>
{% endblock %}