{% extends "AcmeUserBundle::layout.html.twig" %}

{% set left_target = 'profile' %}
{% set target = 'login' %}

{% block stylesheets_child %}
    {% stylesheets 
        '@AcmeDemoBundle/Resources/public/css/login.css' 
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}


{% block title %}登录{% endblock %}

{% block module_difference %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="module" id="diff_module">
            <p class="module-title">个人信息</p>
            <div class="module-content">
                <ul class="module_content_diff_operating">
                    <li><a  href="{{ path('_sign_show') }}" >报名情况</a></li>    
                    <li><a  href="{{ path('fos_user_profile_edit') }}" >修改个人信息</a></li>  
                    <li><a  href="{{ path('fos_user_resetting_request') }}" >修改登陆密码</a></li>
                </ul>
            </div>           
        </div>
    {% else %}
        <div class="module">
            <p class="module-title">注册参会</p>
            <div class="module-content">
                <form action="{{ path("fos_user_security_check") }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    <div class="userinput">
                        <label for="username">用户名：</label>
                        <input type="text" id="username" name="_username" 
                               value="{{ last_username }}" required="required"
                               placeholder="邮箱 或 用户名" autocomplete="off"/>
                    </div>
                    <div class="userinput">
                        <label for="password">密码：</label>
                        <input type="text" id="password" name="_password" required placeholder="请输入密码" autocomplete="off"/>
                    </div>
                    <div class="userinput" id="form_remeber">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                        <label for="remember_me">自动登录</label>

                        {% if error %}
                            <span class="highlight">{{ "邮箱或密码错误" }}</span>
                        {% endif %}
                      
                    </div>
                    <div class="userinput btngroup">
                        <a href="{{ path("fos_user_resetting_request") }}" class="forgetBtn">忘记密码?</a>
                        <input type="submit" id="_submit" name="_submit" value="登录"/>
                        <a href="{{ path('_notice') }}" class="btn register_btn">注册</a>
                    </div>
                </form>
            </div> 
        </div>      
    {% endif %}

{% endblock %}


{% block left_navigation_more_add %}
{% endblock %}

{% block fos_user_content %}

{% endblock %}